doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/scripts/bootstrap/dist/css/bootstrap.css")
    script(src="/scripts/socket.io-client/dist/socket.io.js") 
  body.bg-dark
    block content
  script(src="/scripts/jquery/dist/jquery.min.js")
  script(src="/scripts/popper.js/dist/popper.min.js")
  script(src="/scripts/bootstrap/dist/js/bootstrap.min.js")
  script(src="/javascripts/index.js")